html *
  margin 0
  padding 0

body
  font: 14px/1.5 helvetica, '微软雅黑', 'microsoft yahei', Verdana, Lucida, arial, sans-serif, '黑体' !important;
  max-width 480PX
  margin 0 auto !important
a
  text-decoration none

input
  outline none

img[src='']
  font-size 12px

.primary-text
  color $primaryColor
  &:hover
    color $hoverColor

.pointer
  cursor pointer